[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pysqlcipher3" = "*"
coloredlogs = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.7"

[scripts]
export = "python3 export.py"
