header {
    text-align: center;
    font-weight: bold;
}

.author {
    font-size: small;
    font-weight: bold;
}

.contact-name {
    font-weight: bold;
}

.message {
    clear: both;
    width: 60%;
    margin: 0.3em;
    border: 1px solid grey;
    padding: 0.3em;
}

.message .error {
    font-style: italic;
}

.message .metadata {
    color: grey;
    font-size: small;
}

.message .reactions {
    color: grey;
    font-size: small;
    font-weight: bold;
}

.message.incoming .reactions {
    float: right;
}

.message.outgoing {
    float: right;
}

.message.outgoing .metadata {
    text-align: right;
}

.quote {
    margin: 0.3em;
    border: 1px solid grey;
    padding: 0.3em;
}

.notification {
    clear: both;
    color: grey;
    text-align: center;
}
